<nav class="sticky top-0 z-50 glass border-b border-slate-700 transition-all duration-300" [class.shadow-xl]="scrolled"
    [class.bg-friki-dark]="scrolled">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-20 items-center">
            <div class="flex-shrink-0 flex items-center">
                <a routerLink="/" class="text-2xl font-black font-orbitron text-friki-neon tracking-wider">
                    CAÑÓN COSMO<span class="text-white">STORE</span>
                </a>
            </div>

            <div class="hidden md:flex space-x-8 items-center">
                <a routerLink="/" class="hover:text-friki-neon transition-colors">Inicio</a>
                <a routerLink="/productos" class="hover:text-friki-neon transition-colors">Catálogo</a>
                <div class="relative group">
                    <button
                        class="flex items-center hover:text-friki-neon transition-colors outline-none focus:outline-none">
                        Categorías <i class="fa-solid fa-chevron-down ml-2 text-xs"></i>
                    </button>
                    <div
                        class="absolute left-0 top-full pt-2 w-48 rounded-md shadow-lg py-1 bg-friki-card ring-1 ring-black ring-opacity-5 hidden group-hover:block border border-slate-700">
                        <a routerLink="/productos" [queryParams]="{ categoria: 'Videojuegos' }"
                            class="block px-4 py-2 text-sm hover:bg-slate-700 hover:text-friki-neon">Videojuegos</a>
                        <a routerLink="/productos" [queryParams]="{ categoria: 'Anime' }"
                            class="block px-4 py-2 text-sm hover:bg-slate-700 hover:text-friki-neon">Anime & Manga</a>
                        <a routerLink="/productos" [queryParams]="{ categoria: 'Comics' }"
                            class="block px-4 py-2 text-sm hover:bg-slate-700 hover:text-friki-neon">Cómics</a>
                        <a routerLink="/productos" [queryParams]="{ categoria: 'Juegos de cartas' }"
                            class="block px-4 py-2 text-sm hover:bg-slate-700 hover:text-friki-neon">Juegos de Cartas</a>
                        <a routerLink="/productos" [queryParams]="{ categoria: 'Figuras' }"
                            class="block px-4 py-2 text-sm hover:bg-slate-700 hover:text-friki-neon">Figuras</a>
                        <a routerLink="/productos" [queryParams]="{ categoria: 'Ropa' }"
                            class="block px-4 py-2 text-sm hover:bg-slate-700 hover:text-friki-neon">Ropa</a>
                    </div>
                </div>
                <a routerLink="/calendario" class="hover:text-friki-neon transition-colors">Torneos</a>

            </div>

            <div class="flex items-center space-x-6">
                <form (submit)="$event.preventDefault(); realizarBusqueda(txtBuscar.value)"
                    class="hidden lg:flex items-center bg-slate-800 rounded-full px-4 py-1.5 border border-slate-700 focus-within:border-friki-neon transition-all">
                    <input #txtBuscar type="text" placeholder="Buscar tesoros..."
                        class="bg-transparent border-none focus:ring-0 text-sm w-48 text-white placeholder-slate-400 outline-none">
                    <button type="submit"><i
                            class="fa-solid fa-magnifying-glass text-slate-400 hover:text-friki-neon"></i></button>
                </form>

                <div class="flex items-center space-x-4">
                    <ng-container *ngIf="!authService.currentUser()">
                        <a routerLink="/login"
                            class="text-sm font-semibold hover:text-friki-neon transition-colors">Login</a>
                        <a routerLink="/registro"
                            class="bg-friki-neon text-friki-dark px-4 py-2 rounded-lg text-sm font-bold hover:bg-white transition-all transform hover:scale-105">Registro</a>
                    </ng-container>

                    <ng-container *ngIf="authService.currentUser() as user">
                        <a routerLink="/perfil"
                            class="text-sm font-bold text-slate-400 hidden lg:inline hover:text-friki-neon transition-colors">Hola,
                            <span class="text-friki-neon">{{ user.nombre }}</span></a>
                        <a href="#" (click)="$event.preventDefault(); logout()"
                            class="text-xs text-slate-500 hover:text-red-400 uppercase font-black">Salir</a>
                    </ng-container>

                    <a routerLink="/carrito" class="relative p-2 text-white hover:text-friki-neon transition-colors">
                        <i class="fa-solid fa-cart-shopping text-xl"></i>
                        <span
                            class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-friki-dark transform translate-x-1/2 -translate-y-1/2 bg-friki-neon rounded-full">
                            {{ cartService.getCount() }}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>